<div class="list-controls">
  <div class="container">
  {{#if canCreateTopic}}
    <button id="create-topic" class='btn btn-default' {{action "createTopic"}}><i class='fa fa-plus'></i>{{i18n 'topic.create'}}</button>
  {{/if}}
  <h1 class="project-show-heading">
    {{#if list.topic_list.parent_names.[1]}}
        {{#link-to 'projects.show' list.topic_list.parent_guids.[1]}}{{list.topic_list.parent_names.[1]}}{{/link-to}}
    {{else}}
        {{#link-to 'projects'}}Projects{{!--i18n "osf.projects"--}}{{/link-to}}
    {{/if}}
    <i class="fa fa-angle-right"></i>
    {{osf-project-bound projectRecord=project projectName=list.topic_list.parent_names.[0] style="simple"}}
  </h1>
  </div>
</div>

<footer class='topic-list-bottom'>
  {{conditional-loading-spinner condition=loading}}

  {{#unless loading}}
    {{#if list.topics}}
      {{bulk-select-button selected=selected refreshTarget=controller}}

      {{topic-list topics=list.topics
                   canBulkSelect=canBulkSelect
                   toggleBulkSelect="toggleBulkSelect"
                   bulkSelectEnabled=bulkSelectEnabled
                   selected=selected
                   showPosters=true
                   currentUser=currentUser
                   order=order
                   ascending=ascending
                   changeSort="changeSort"}}
    {{/if}}
  {{/unless}}
</footer>
