<div class="list-controls">
  <div class="container">
  <h1 class="osf-project-show-heading">
    {{#if list.topic_list.parent_names.[1]}}
        {{#link-to 'projects.show' list.topic_list.parent_guids.[1]}}{{list.topic_list.parent_names.[1]}}{{/link-to}}
    {{else}}
        Projects{{!--i18n "osf.projects"--}}
    {{/if}}
    <i class="fa fa-angle-right"></i>
    {{#link-to 'projects.show' list.topic_list.parent_guids.[0]}}{{list.topic_list.parent_names.[0]}}{{/link-to}}
  </h1>
  </div>
</div>

<div class="list-controls">
  <div class="container">
      {{bread-crumbs categories=categories
                     category=model.category
                     noSubcategories=noSubcategories
                     hideSubcategories=showingSubcategoryList}}

      {{navigation-bar navItems=navItems filterMode=model.navMode}}

      {{#if canCreateTopic}}
        <button id="create-topic" class='btn btn-default' {{action "createTopic"}}><i class='fa fa-plus'></i>{{i18n 'topic.create'}}</button>
      {{/if}}
  </div>
</div>

<div class='container list-container'>
  {{conditional-loading-spinner condition=loading}}

  {{#unless loading}}
    {{#if list}}
      {{!--bulk-select-button selected=selected refreshTarget=controller--}}
      {{!--topic-list topics=list.topics
                   canBulkSelect=canBulkSelect
                   toggleBulkSelect="toggleBulkSelect"
                   bulkSelectEnabled=bulkSelectEnabled
                   selected=selected
                   showPosters=true
                   currentUser=currentUser
                   order=order
                   ascending=ascending
                   changeSort="changeSort"--}}
    {{/if}}
    {{outlet "list-container"}}
  {{/unless}}
</div>
